<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()" (ngSubmit)="onTouch()">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   formControlName="name"

                   />
            @if(formUtils.isValidField(myForm, 'name')) {
              <span class="form-text text-danger">
                     error message
              </span>

            }
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       [formControl]="newFavorite"
                       (keydown.enter)="addFavorites()"
                       (keydown.enter)="$event.preventDefault()"
                       >



                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="addFavorites()">
                    Agregar favorito
                </button>
            </div>
        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoriteGames">

          @for (favorite of favoriteGames.controls; track favorite; let i = $index) {

            <div class="mb-1">

                <div class="input-group">
                    <input
                    class="form-control"
                    [formControlName]="i"
                    >

                    <button class="btn btn-outline-danger"
                            type="button"
                            (click)="deleteFavorite(i)">
                      Eliminar
                  </button>
                </div>

                @if(formUtils.isValidFieldToArray(favoriteGames , i)) {
                  <span class="form-text text-danger">
                     Este campo es requerido
                  </span>

                }


            </div>
          }
          @if(favoriteGames.length < 2) {
            <span class="form-text text-danger">
                      Mínimo de dos favoritos
             </span>

          }


        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end">
                    <!-- [disabled]="myForm.invalid" -->

                Guardar
            </button>
        </div>
    </div>


</form>



<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br>

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br>

<span>Errores</span>
<pre>{{ myForm.controls['name'].errors | json }}</pre>
<pre>{{ myForm.controls['favoriteGames'].errors | json }}</pre>
@for (item of favoriteGames.controls; track $index; let i = $index) {
  <pre>{{ myForm.controls['favoriteGames'].errors | json }}</pre>
  <p>{{item.errors}}</p>
  <!-- <pre>{{ myForm.controls[i].errors | json }}</pre>-->
}
<br>

<span>Agregar Juego</span>
<!-- <pre>{{ 'object' | json }}</pre>
<pre>{{ 'object' | json }}</pre> -->
